.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 30%;
  background-color: white;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
  padding: 50px 25px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal__content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.modal__button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.modal__cancel {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.modal__confirm {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

h2 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  border: 1px solid;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

.modal__content > p {
  color: red;
  font-size: 10px;
  height: 5px;
}

label {
  margin-top: 20px;
  font-size: 18px;
  color: black;
}

.deleteModal > .modal__overlay > .modal {
  width: 400px;
  height: 220px;
}

h4 {
  text-align: center;
}
