h1 {
  margin-bottom: 40px;
}

.kanban-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  background-color: #fafafa;
}

/* KanbanColumn */
.kanban-column {
  width: 30%;
  height: 95%;
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #ffffff;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    width: 100%;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul > hr:first-child {
    margin-bottom: 0;
  }

  hr {
    height: 3px;
    width: 90%;
    margin-bottom: 10px;
  }

  hr.drag {
    background-color: #2d6ecf;
  }

  .addBtn {
    padding: 8px;
  }
}

.kanban__column-line {
  transition: 50ms ease-in 0s;
  width: 90%;
  height: 5px;
  border: 3px;
}

/* KanbanItem */
.item {
  width: 90%;
  height: 135px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;

  cursor: grab;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: rgb(15 15 15 / 15%) 0px 0px 0px 0.5px, rgb(15 15 15 / 3%) 0px 2px 3px;
  transition: border-bottom ease-in-out 50ms;
}

.drag__enter {
  border-bottom: 3px solid #2d6ecf;
}

.item__upper {
  padding-top: 5px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.item__upper > p {
  padding-top: 5px;
}

.item__upper-btns {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.item__upper-btns > button {
  padding: 6px;
}

.item__bottom {
  display: flex;
  justify-content: space-between;
}

.item {
  overflow: scroll;
}
