h1 {
  margin-bottom: 40px;
}

.kanban-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  background-color: #fafafa;
}

main {
  width: 80vw;
  height: 640px;
  margin-top: 40px;
}
