* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.controls {
  position: fixed;
  top: 2vw;
  left: 2vw;
  z-index: 1;
}

.controls button {
  display: block;
  font-size: 1em;
  padding: 1em;
  margin: 1em;
  background-color: beige;
  color: black;
}

.subtract:disabled,
.idle:disabled,
.optWithrAF:disabled,
.optWithKeyFrame:disabled {
  opacity: 0.2;
}

.mover {
  height: 3vw;
  position: absolute;
  z-index: 0;
}

.csskeyframe {
  animation: move 5s ease-in-out infinite;
}

@keyframes move {
  50% {
    transform: translateY(-800px);
  }
}

.border {
  border: 1px solid black;
}

@media (max-width: 600px) {
  .controls button {
    min-width: 20vw;
  }
}

img {
  width: 20px;
  height: 20px;
}
